<header class="header">
  <div class="header-container">
    <a href="#" class="header-logo"></a>
    <div class="header-menu menu">
      <div class="menu-icon">
        <span></span>
      </div>

      <nav class="menu-body nav">
        <ul class="menu-list nav-list">
          <li>
            <a
              data-goto=".page-section__1"
              href="#"
              class="menu-link nav-item__link"
              >Home</a
            >
          </li>
          <li>
            <a
              data-goto=".page-section__2"
              href="#"
              class="menu-link nav-item__link"
              >About</a
            >
          </li>
          <li>
            <a
              data-goto=".page-section__3"
              href="#"
              class="menu-link nav-item__link"
              >Feedback</a
            >
          </li>
          <li>
            <a href="#" class="menu-link nav-item__link">Contact</a>
            <!-- <span class="menu-arrow"></span>
            <ul class="menu-sub__list">
              <li>
                <a href="" class="menu-sub__link">Tel</a>
              </li>
              <li>
                <a href="" class="menu-sub__link">Mail</a>
              </li>
              <li>
                <a href="" class="menu-sub__link">Address</a>
              </li>
            </ul>
          </li> -->
          </li>

          <li>
            <a href="#" class="menu-link nav-item__link">Service</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
